/.sync
/ChimeraDesk-KVM-server.AppImage
/airStatus.py
/automation
/bandwidthTest.sh
/conversion.sh
/docToPdf.sh
/docToTxt.sh
/email
/englishClass.sh
/grayPdf.sh
/kdenlive-newProject.sh
/keybindings.pl
/mountVms
/notflix
/obs
/openMultipleLinks.sh
/orario.sh
/remoteIntoDesktop
/remoteWol
/restartWifi.sh
/rslsyncToUser.sh
/schoolSchedule.sh
/teamviewer.sh
/templates
/ubports-installer_0.8.8-beta_linux_x86_64.AppImage
/wolfram_conversion.py
/wontUseThese
/xboxController.sh